<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pathfinder</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
</head>
<body>
<!--<div class="wrapper">-->

<!-- Navigation -->
<header>
    <nav class="main-nav">
        <ul>
            <li>
                <a th:href="@{/}">Home</a>
            </li>
    </nav>
</header>
<!-- Top Container -->
<div class="row justify-content-center ">
    <form id="add-route-form" class="w-50 rounded text-white mt-5"
          th:action="@{/routes/add}"
          th:method="POST"
          th:object="${addRouteBindingModel}"
          enctype="multipart/form-data">
        <h3 class="border-left border-light pl-2">Add a new route</h3>
        <div>
            <div class="form-group">
                <label th:for="inputName" class="col-form-label ">Name</label>
            </div>
            <div class="form-group">
                <input th:field="*{name}"
                       th:errorclass="is-invalid"
                       th:type="text"
                       th:id="inputName"
                       th:class="form-control"
                       th:aria-describedby="inputNameError">
                <small th:errors="*{name}" id="inputNameError"
                       class="invalid-feedback alert-danger rounded">error message</small>
            </div>
        </div>

        <div>
            <div class="form-group">
                <label th:for="inputDescription" class="col-form-label ">Description</label>
            </div>
            <div class="form-group">
                    <textarea th:field="*{description}"
                              th:errorclass="is-invalid"
                              th:id="inputDescription"
                              th:class="form-control"
                              th:aria-describedby="inputDescriptionError"></textarea>
                <small th:errors="*{description}" id="inputDescriptionError"
                       class="invalid-feedback  form-text alert-danger rounded">error message</small>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label th:for="level">Level</label>
                <select th:field="*{level}"
                        th:id="level"
                        th:class="custom-select">
                    <option th:value="levels">Select Level</option>
                    <option th:each="level: ${levels}" th:text="${level}" th:value="${level}" th:selected>Select level</option>
                </select>
                <small th:errors="*{level}" id="inputLevelError"
                       class="invalid-feedback form-text alert-danger rounded">error message</small>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label th:for="videoUrl">Video Url (only last eleven characters from Youtube)</label>
                <input th:field="*{videoUrl}"
                       th:errorclass="is-invalid"
                       th:id="videoUrl"
                       th:type="text"
                       th:class="form-control" placeholder="Video url">
                <small th:errors="*{videoUrl}" id="inputVideoUrlError"
                       class="invalid-feedback form-text alert-danger rounded">error message</small>
            </div>
        </div>

        <div>
            <div class="form-group p-3">
                <label class="p-2" th:for="categories">Categories:</label>
                <input class="m-3"
                       th:field="*{categories}"
                       th:each="categoryEntity: ${categories}"
                       th:text="${categoryEntity}"
                       th:type="checkbox"
                       th:id="categories"
                       th:value="${categoryEntity}">
                <small th:errors="*{categories}" id="inputCategoriesError"
                       class="invalid-feedback form-text alert-danger rounded">error message</small>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-primary btn-block w-50" type="submit">Add Route</button>
        </div>

    </form>
</div>
<!-- Wrapper Ends -->'
<footer th:replace="~{fragments/footer.html}"></footer>
</body>
</html>
