<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pathfinder</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
</head>
<body>
<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="border-bottom">Register</h1>
    <div class="d-flex justify-content-center ">
        <div class="row g-3">
            <form
                    th:action="@{/users/register}"
                    th:method="POST"
                    th:object="${userRegistrationBindingModel}"
            >

                <div>
                    <div class="col-auto">
                        <label th:for="inputUsername" class="col-form-label ">Username</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{username}"
                               th:errorclass="is-invalid"
                               th:type="text"
                               th:id="inputUsername"
                               th:class="form-control"
                               th:aria-describedby="usernameHelpInline">
                        <small th:errors="*{username}" id="usernameError"
                               class="invalid-feedback alert-danger rounded"></small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label th:for="inputFullName" class="col-form-label ">Full Name</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{fullName}"
                               th:errorclass="is-invalid"
                               th:type="text"
                               th:id="inputFullName"
                               th:class="form-control"
                               th:aria-describedby="fullNameHelpInline">
                        <small th:errors="*{fullName}" id="fullNameError"
                               class="invalid-feedback alert-danger danger rounded"></small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label th:for="inputEmail" class="col-form-label ">Email</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{email}"
                               th:errorclass="is-invalid"
                               th:type="email"
                               th:id="inputEmail"
                               th:class="form-control"
                               th:aria-describedby="emailHelpInline">
                        <small th:errors="*{email}" id="emailError"
                               class="invalid-feedback alert-danger rounded"></small>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label th:for="inputAge" class="col-form-label ">Age</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{age}"
                               th:errorclass="is-invalid"
                               th:id="inputAge"
                               th:class="form-control"
                               th:aria-describedby="ageHelpInline">
                        <small id="ageError"
                               class="invalid-feedback alert-danger rounded"></small>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label th:for="inputPassword" class="col-form-label ">Password</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{password}"
                               th:errorclass="is-invalid"
                               th:type="password"
                               th:id="inputPassword"
                               th:class="form-control"
                               th:aria-describedby="passwordHelpInline">
                        <small th:errors="*{password}" id="passwordError"
                               class="invalid-feedback alert-danger rounded">error message</small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label th:for="inputConfirmPassword" class="col-form-label ">Confirm Password</label>
                    </div>
                    <div class="col-auto">
                        <input
                                th:field="*{confirmPassword}"
                                th:errorclass="is-invalid"
                                th:type="password"
                                th:id="inputConfirmPassword"
                                th:class="form-control"
                                th:aria-describedby="confirmPasswordHelpInline">
                        <small th:errors="*{confirmPassword}" id="confirmPasswordError"
                               class="invalid-feedback  alert-danger rounded">error message</small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="level">Level</label>
                        <select th:name="level"
                                id="level"
                                class="custom-select">
                            <option th:each="lev: ${levels}" th:text="${#strings.toLowerCase(lev)}"
                                    th:value="${lev}"
                                    th:field="*{level}"
                                    selected>Select level
                            </option>
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary btn-block w-50" type="submit">Register</button>
                </div>

            </form>
        </div>
    </div>
</main>
<!-- Wrapper Ends -->'
<footer th:replace="~{fragments/footer.html}"></footer>
</body>
</html>